<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoSpendsTrack"
        tools:targetApi="31">
        <activity
            android:name=".BackupRestore"
            android:exported="false" />
        <activity
            android:name=".ExportCSV"
            android:exported="false"
            android:label="Export to CSV"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TxnViewActivity"
            android:exported="false"
            android:label="Transaction Details"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccViewActivity"
            android:exported="false"
            android:label="Account Details"
            android:parentActivityName=".ManageAccActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageAccActivity"
            android:exported="false"
            android:label="Manage Accounts"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddTxnActivity"
            android:exported="false"
            android:label="Add Transaction"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".MySMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Auto Spends Tracker"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>